Oktogo.UserManagement.Web/Service References/UserManagementService/UserManagementService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserManagementService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://wcf.local/UserManagementService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://wcf.local/UserManagementService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://wcf.local/UserManagementService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Oktogo.UserManagement.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserManagementService_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="IUserManagementService_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserManagementService_GetUsersCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersCount" />
  </wsdl:message>
  <wsdl:message name="IUserManagementService_GetUsersCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersCountResponse" />
  </wsdl:message>
  <wsdl:message name="IUserManagementService_GetUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsers" />
  </wsdl:message>
  <wsdl:message name="IUserManagementService_GetUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IUserManagementService_SaveUser_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveUser" />
  </wsdl:message>
  <wsdl:message name="IUserManagementService_SaveUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserManagementService_DeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="IUserManagementService_DeleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserManagementService">
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManagementService/GetUser" message="tns:IUserManagementService_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManagementService/GetUserResponse" message="tns:IUserManagementService_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsersCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManagementService/GetUsersCount" message="tns:IUserManagementService_GetUsersCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManagementService/GetUsersCountResponse" message="tns:IUserManagementService_GetUsersCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManagementService/GetUsers" message="tns:IUserManagementService_GetUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManagementService/GetUsersResponse" message="tns:IUserManagementService_GetUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManagementService/SaveUser" message="tns:IUserManagementService_SaveUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManagementService/SaveUserResponse" message="tns:IUserManagementService_SaveUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManagementService/DeleteUser" message="tns:IUserManagementService_DeleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManagementService/DeleteUserResponse" message="tns:IUserManagementService_DeleteUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserManagementService" type="tns:IUserManagementService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/IUserManagementService/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsersCount">
      <soap:operation soapAction="http://tempuri.org/IUserManagementService/GetUsersCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <soap:operation soapAction="http://tempuri.org/IUserManagementService/GetUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveUser">
      <soap:operation soapAction="http://tempuri.org/IUserManagementService/SaveUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="http://tempuri.org/IUserManagementService/DeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserManagementService">
    <wsdl:port name="BasicHttpBinding_IUserManagementService" binding="tns:BasicHttpBinding_IUserManagementService">
      <soap:address location="http://wcf.local/UserManagementService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>